.Buttonish {
  text-align: center;
  width: 7em;
  font-size: .7em;
  margin: .5em;
  padding: .8em;
  border-radius: .45em;
  color: #ffffff;
  background-color: rgb(44, 129, 79);
  &:hover {
    background-color:  rgb(99, 221, 150);
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20vw 0px 20vw;
  ul {
    margin: 2rem 0px 2rem 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    li {
      background-color: #da89f3;
      margin: .3rem;
      padding: .3rem;
      border-radius: .5rem;
      list-style-type: none;
    }
  }
  .PageBar {

  }
}